<h1>My Cart</h1>
	<p>
		Your Shopping Cart contents are 
		currently worth <strong><%= number_to_currency(@cart.total_price) %></strong><br /> 
	</p>
	
	<table class="table table-hover">
		<tr>
			<th>Item Name</th>
			<th style="text-align: center;">Quantity</th>
			<th style="text-align: center;">Price</th>
			<th style="text-align: center;">Total</th>
			<th></th>
		</tr>	
		
		<% @cart.cart_line_items.each do |item| %>

			<tr>
				<td><%= item.name %></td>
				
				<td style="text-align: center;">
					<%= item.quantity %> 
				</td>
				
				<td style="text-align: center;"><%= number_to_currency(item.price) %></td>
				<td style="text-align: center;"><%= number_to_currency(item.total_price) %></td>
				<td>&nbsp;<%= link_to 'Edit'.html_safe,
					 edit_cart_line_item_path(line_id: item.id), title: 'Adjust Quantity of Cart Item' %>
					&nbsp;&nbsp;
					<%= link_to 'Remove'.html_safe,
					 cart_line_item_path(line_id: item.id), method: :delete, title: 'Remove Item from Cart' %>
				</td>
			</tr>

		<% end %>

	</table>
		
	<div class="form-inline">
		<%= link_to 'Checkout', 
			new_sf_order_path(cart_id: @cart.id), class: "btn btn-success", method: :get %>
		<%= link_to 'Empty Cart', @cart, method: :delete,
				data: {confirm: 'Are you sure you want to empty your Cart?'},
				class: "btn btn-danger" %>
	</div>